{% extends "index.html" %}
{% block content %}

{% if "high" == condition %}
<div class=" d-flex align-items-center bg-danger  p-4 " style="width: 600px; height: 150px">
    <h2 class="">too high</h2>
</div>
{% elif "low" == condition  %}
<div class=" d-flex align-items-center bg-danger  p-4 " style="width: 600px; height: 150px">
    <h2 class="">too low</h2>
</div>
{% else %}
<div class=" d-flex flex-column align-items-start  bg-success  p-4 " style="width: 600px; height: 150px">
    <h2 class="">You Guessed!! the number was {{session['number']}} </h2>
    <a href="/clear"><button type="button" class="btn btn-primary">Play Again</button></a>
</div>
{% endif %}

{% endblock %}